<div class="container-fluid">
  <div class="row">
    <form>
      <div class="form-group">
        <label for="words">Quote</label>
        <input type="text" required class="form-control" id="words">
      </div>
      <div class="form-group">
        <label for="author">Author</label>
        <textarea id="" rows="4" class="form-control" required></textarea>
      </div>
      <div class="form-group">
        <label for="Subitter">Submitted by</label>
        <textarea id="" rows="4" class="form-control" required></textarea>
      </div>
      <button class="btn btn-primary" type="submit"> Submit Quote</button>
    </form>
  </div>
</div>
